<div align="center">
    <h1>Login</h1>

    <form (submit)="signIn()">
        <table>
            <tr>
                <th>LoginId</th>
                <td>
                    <input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter LoginId">
                </td>
                 <td style="color: red;">{{form.inputerror.loginId}}</td>
            </tr>
              <tr>
                <th>Password</th>
                <td>
                    <input type="text" name="password" [(ngModel)]="form.data.password" placeholder="Enter Password">
                </td>
                 <td style="color: red;">{{form.inputerror.password}}</td>
                
            </tr>
             <tr>
                <th></th>
                <td>
                    <input type="submit" value="signIn">
                </td>
            </tr>
        </table>
    </form>

</div>
