<div align="center">
    <h1>Login</h1>

    <form>
        <table>
            <tr>
                <th>LoginId</th>
                <td>
                    <input type="text" placeholder="Enter LoginId">
                </td>
            </tr>
              <tr>
                <th>Password</th>
                <td>
                    <input type="text" placeholder="Enter Password">
                </td>
            </tr>
             <tr>
                <th></th>
                <td>
                    <input type="submit" value="signin">
                </td>
            </tr>
        </table>
    </form>

</div>
